Implicit HTTP port violates scheme default

The `elasticsearch.Elasticsearch` class treats members of the `hosts` argument list in a way that fails to conform to [RFC-3986, Section 3.2.3](https://tools.ietf.org/html/rfc3986#section-3.2.3). A URL that does not specify a port should use the port that is the default for the _scheme_, which is "http" in this case. The scheme's default port may be overridden by a local cache of the [services](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml) registry, typically `/etc/services` or `C:\Windows\System32\drivers\etc\services`.

### Expected behavior

```
>>> import elasticsearch
>>> elasticsearch.VERSION
(6, 1, 0, 'dev')
>>> es = elasticsearch.Elasticsearch("http://localhost")
>>> es.__dict__['transport'].__dict__['seed_connections']
(<Urllib3HttpConnection: http://localhost:80>,)
>>>
```

### Actual behavior

```
>>> import elasticsearch
>>> elasticsearch.VERSION
(6, 1, 0, 'dev')
>>> es = elasticsearch.Elasticsearch("http://localhost")
>>> es.__dict__['transport'].__dict__['seed_connections']
(<Urllib3HttpConnection: http://localhost:9200>,)
>>>
```

@neirbowj while technically correct. But that is not what users of elasticsearch expect as default behavior. It's also too late to fix now. 

@fxdgear I disagree that it is "too late" to fix this problem, and that it would add confusion. The right thing to do in this case is to add a warning in 6.x when the configuration uses an implicit port, and in 7.x, when breaking changes are expected, to make the behavior consistent with long-established standards, either by adopting a new [URI scheme](https://www.iana.org/assignments/uri-schemes) that defaults to port 9200, or by requiring port 9200 to be stated explicitly in the configuration.

Please reopen this issue.

Please re-open and fix this.